body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(to right top, #151876, #00469b, #0068a1, #008692, #00a17e) no-repeat center center fixed;
}

ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0;

  li {
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
  }

  &.query-gallery-list {
    display: none;
    &.show {
      display: inline-block;
    }
  }

  img {
    border-radius: 3px;
  }
}

input {
  font-size: 22px;
  padding: 16px;
  border-radius: 7px;
  box-shadow: none;
  border: 1px solid #afafaf;
  width: 100%;

  &:focus {
    border-color: #2E545B;
    outline-width: 0;
  }
}

section {
  line-height: 120%;
  display: flex;
  align-items: center;
  margin: 50px auto;
  width: 820px;


  > div {
    width: 100%;
    margin: auto;
  }

  header, .giphy-results, .queries-history {
    margin-top: 25px;
    background-color: #F2FDFF;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 25px 20px;

    p {
      font-size: 18px;
      font-weight: 500;
      text-align: left;
    }

  }

  .queries-history {
    li {

      span {
        width: min-content;
        font-size: 14px;
        margin-right: 10px;
        padding: 5px 10px;
        display: block;
        background-color: #00559E;
        border-radius: 15px;
        color: #efefef;
        border: 0;
        margin-bottom: 10px;
      }
    }
  }

  header > div{
    display: flex;
    justify-content: center;
  }

  h2, p {
    color: #404040;
    text-align: center;
  }

  p {
    font-weight: 700;
  }

  h2 {
    text-align: center;
    font-size: 28px;
    color: #404040;
  }
}

button {
  font-size: 18px;
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #00A17E;
  border-radius: 7px;
  color: #efefef;
  border: 0;

  &:hover {
    opacity: 0.9;
    cursor: pointer;
  }

  &:focus {
    outline-width: 0;
  }
}
